body {
            font-family: 'Poppins', sans-serif;
            padding-top: 70px;
        }

        #navbar-main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
        }

        .hero-section {
            background: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/Perkebunan_kelapa_sawit_milik_rakyat_%281%29.JPG') no-repeat center center;
            background-size: cover;
            color: white;
            padding: 150px 0;
            position: relative;
            opacity: 0;
            animation: fadeIn 2s ease-in forwards;
        }

         @keyframes fadeIn {
            to { opacity: 1; }
        }

            .rotating-text {
            position: relativ;
            height: 80px;
            overflow: hidde;
            font-weight: bold;
            color: white;
            text-align: center;
        }

        .rotating-text span {
            position: absolute;
            width: 100%;
            opacity: 0;
            animation: fadeRotate 12s infinite;
            bottom: 100px;
            right: 16px;
        }

            .rotating-text span:nth-child(1) { animation-delay: 0s; }
            .rotating-text span:nth-child(2) { animation-delay: 4s; }
            .rotating-text span:nth-child(3) { animation-delay: 8s; }

        @keyframes fadeRotate {
            0%   { opacity: 0; transform: translateY(100%); }
            10%  { opacity: 1; transform: translateY(0); }
            30%  { opacity: 1; transform: translateY(0); }
            40%  { opacity: 0; transform: translateY(-100%); }
            100% { opacity: 0; }
        }

        
        .hero-section::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.6);
        }
        .hero-section .container {
            position: relative;
            z-index: 1;
        }
        section {
            padding: 80px 0;
        }
        .section-title {
            text-align: center;
            margin-bottom: 50px;
        }
        .section-title h2 {
            font-weight: 700;
            text-transform: uppercase;
        }
        .card {
            
            border: none;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0,0,0,.1);
        }
        .team-member img {
            max-width: 150px;
        }
        .portfolio-item img {
            transition: transform 0.3s;
        }
        .portfolio-item:hover img {
            transform: scale(1.05);
        }

        

        .footer {
            background-color: #343a40;
            color: white;
            padding: 40px 0;
        }